@import url('https://fonts.cdnfonts.com/css/press-start-2p');
@import url('https://fonts.googleapis.com/css?family=Poppins');
body {
    background: #121212;
    color: #F0F0F0;
    font-family: 'Poppins';
    text-align: center;
    align-items: center;
    margin-top: 20px;
}
header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #121212;
    height: 55px;
    width: 100%;   
}

.logo{
    display: inline-block;
    text-align: center;
    color: #03703c;
    font-size: 20px;
    font-family: 'Press Start 2P';font-size: 22px;
    padding: 10px;
    text-decoration: None;
    margin-left: 30px;
}

.button-container {
    display: center;
    margin-top: 50px;
   }

h1 {
    margin-bottom: 7vh;
}

p {
    font-size: 16px;
}
   .button {
    font-family: 'Poppins';
    padding: 10px 20px;
    background-color: #03703c;
    text-decoration: none;
    color: #F0F0F0;
    cursor: pointer;
    font-size: 15px;
    border-radius: 20px;
    border: none;
    z-index: 0;
}
