@import url('https://fonts.cdnfonts.com/css/press-start-2p');
@import url('https://fonts.googleapis.com/css?family=Poppins');
body {
    background: #15171a;
    color: #cecccc;
    font-family: 'Poppins';
    margin: 0;
    padding: 0;

}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    background-color: #121212;
    height: 65px;
    width: 100%;
    margin-top: 0px;
}

.logo {
    display: inline-block;
    text-align: center;
    color: #03703c;
    font-size: 20px;
    font-family: 'Press Start 2P';
    font-size: 22px;
    padding: 10px;
    text-decoration: none;
    margin-left: 30px;
}

#searchbar {
    background-color: #37383b;
    color: #F0F0F0;
    border: none;
    border-radius: 20px;
    padding: 10px;
    width: 50%;
    margin-left: 10%;
    margin-right: 15%;
}

#searchbar::placeholder {
    color: #F0F0F0;
    font-family: 'Poppins';
}

.button-container {
    display: center;
    background-color: #03703c;
    border-radius: 20px;
    margin-right: 30px;
   }

.logoff {
    color: #F0F0F0;
    display: inline-block;
    text-align: center;
    font-size: 12px;
    padding: 10px 20px;
    text-decoration: None;
    max-width: 100%; 
    margin: 0 auto; 
}

h1 {
    margin-top: 2%;
    margin-right: 20%;
    font-size: 25px;
}

h2 {
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: 17%;
    font-size: 20px;
}
.popup-content button {
    display: block;
}

.popup-button {
    background-color: #03703c;
    color: #fff;
    border: none;
    margin-left: 58%;
    border-radius: 20px;
    padding: 10px 10px;
    cursor: pointer;
    font-family: 'Poppins'
}
.popup {
    position: fixed;
    z-index: 10;
    left: 25%;
    top: 20%;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: none;
    display: none;
}
.popup-content {
    position: relative;
    background-color: #121212;
    margin-left: 5%;
    margin-right: 5%;
    padding: 20px;
    width: 40%;
    color: #121212;
    font-size: 16px;
    border: #03703c;
}

#popuptitle {
    margin-left: 35%;
    margin-top:5%;
    margin-bottom:5%;
    font-size: 18px;
    color: #F0F0F0;
}

select#category {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #37383b;
    color: #F0F0F0;
    font-size: 14px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
    cursor: pointer;
    font-family: 'Poppins';
}

label[for="category"] {
    color: #cecccc;
    font-size: 14px;
    margin-left: 5%;
}
p {
    margin-left: 5%;
    color: #cecccc;
}

textarea {
    font-size: 14px;
    font-family: 'Poppins';
    padding: 10px;
    color:#F0F0F0;
    width: 90%; 
    max-width: 90%;
    height: 60%;
    max-height: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 2%;
    box-sizing: border-box; 
    background-color: #37383b;
}

.newroom_button {
    text-align: left;
    margin-left: 5%;
    margin-top: 0;
    margin-bottom: 5%;
}
.roombutton {
    font-family: 'Poppins';
    padding: 10px 20px;
    background-color: #03703c;
    text-decoration: none;
    color: #F0F0F0;
    cursor: pointer;
    font-size: 12px;
    border-radius: 20px;
    border: none;
    z-index: 0;
}

.closePopup {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #F0F0F0;
    text-decoration: none;
    font-size: 20px;
}

.show {
    display: block;
}
h1 {
    margin-left: 40px;
}

h2 {
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: 20%;
}

ul {
    list-style-type: none;
    padding-left: 0px;
    font-size: 18px;
    color: #6d6f74;
}

ul li {
    margin-left: 20%; 
    margin-bottom: 20px;
}
ul li:not(:has(a)) {
    background-color: #121212;
    margin-left: 20%; 
    margin-right: 20%;
    padding: 5px; 
}

ul li a:hover {
    background-color: #03703c;
    transition: background-color 0.3s ease; 
}

a {
    text-decoration: None;
    color: #cecccc;
    margin-left:80px;
}

hr {
    border: none;
    border-top: 1px solid #33464C;
}


