<!DOCTYPE html>
<head>
    <!--link rel="stylesheet" href="/home/csimona/Documents/TKT/Tietokannat ja webohjelmointi/sovellus/static/convo.css"/-->
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename="convo.css")}}"/>
</head>
<body>
    <title>Chat</title>
    <header>
        <a href="/home_page" class="logo">TechTalk</a>
        <input id="searchbar" type="text" placeholder="Search topics and chats..">
        <div class="button-container">
            <a href="/logout" class="logoff">Log off</a>
        </div>
    </header>
    <h1>Hello, {{name}}!</h1>
    <hr>
    <div class="container">
        <h2>{{ chat_name }}</h2>
        {% for message, time in messages %}
            <p>{{ message }}</p>
            <small>{{ time }}</small>
            <hr>
        {% endfor %}

        <form action="/chat" method="POST">
            <p>Reply to this chat:</p>
            <br>
            <textarea name="new_message" rows="10" cols="70"></textarea>
            <br>
            <input type="submit" value="Send">
        </form>
    </div>
    

