<!DOCTYPE html>
<head>
    <!--link rel="stylesheet" href="/home/csimona/Documents/TKT/Tietokannat ja webohjelmointi/sovellus/static/convo.css"/-->
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename="convo.css")}}"/>
     
</head>
<body>
    <title>Chat</title>
    <header>
        <a href="/home_page" class="logo">TechTalk</a>
        </div>
        <input id="searchbar" type="text" placeholder="Search topics and chats..">
        <div class="button-container">
            <a href="/logout" class="logoff">Log off</a>
        </div>
    </header>
    <div class="chat-container">
        <!-- this will have messages from the database
        1. Fetch messages from database -->



    </div>

</body>
</html>
