<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="/home/csimona/Documents/TKT/Tietokannat ja webohjelmointi/sovellus/static/home.css"/>
    <!--link rel="stylesheet" type="text/css" href="{{url_for('static', filename="home.css")}}"/-->
     
</head>
<body>
    <title>Home</title>
    <header>
        <a href="/" class="logo">TechTalk</a>
        </div>
        <input id="searchbar" type="text" placeholder="Search topics and chats..">
        <div class="button-container">
            <a href="/" class="logoff">Log off</a>
        </div>
    </header>
    <h1>Hello, {{name}}!</h1>
    <h2>Categories</h2>
    <hr>
    <ul>
        <li>COURSES</li>
        <ul>
            <li><a href="#">Ohpe & Ohja</a></li>
            <li><a href="#">JYMi</a></li>
            <li><a href="#">tsoha</a></li>
            <li><a href="#">TiKaPe</a></li>
        </ul>
        <li>BACHELOR</li>
        <ul>
            <li><a href="#">Lukujärjestys</a></li>
            <li><a href="#">Helpot nopat</a></li>
            <li><a href="#">Oppari</a></li>
        </ul>
        <li>MASTERS</li>
        <ul>
            <li><a href="#">Graduttaa</a></li>
        </ul>
        <li>DOCTOR</li>
        <ul>
            <li><a href="#">Väikkäri</a></li>
        </ul>
        <li>GAMES</li>
        <ul>
            <li><a href="#">SIMS</a></li>
        </ul>
        <li>PARTY</li>
        <ul>
            <li><a href="#">Mihin tänään?</a></li>
        </ul>
        <li>RANDOM</li>
        <ul>
            <li><a href="#">Unicafe ruokalista</a></li>
        </ul>
        

    </ul>

</body>
</html>