<!DOCTYPE html>
<head>
    <!--link rel="stylesheet" href="/home/csimona/Documents/TKT/Tietokannat ja webohjelmointi/sovellus/static/home.css"/-->
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename="home.css")}}"/>
     
</head>
<body>
    <title>Home</title>
    <header>
        <a href="/homepage" class="logo">TechTalk</a>
        </div>
        <input id="searchbar" type="text" placeholder="Search topics and chats..">
        <div class="button-container">
            <a href="/logout" class="logoff">Log off</a>
        </div>
    </header>
    <h1>Hello, {{name}}!</h1>
    <h2>Categories<button id="popup-button" class="popup-button">+ new room</button></h2>
    {% if not add_room_ok %}
        <p class="error">Could not add a new room. Please try again.</p>
    {% endif %}
    <div id="mypopup" class="popup">
        <div class="popup-content">
            <p id="popuptitle">Create a new room</p>
            <form action="/homepage" method="POST">
                <label for="category">Choose a category for your room:</label>
                <select name="category" id="category">
                    <option value="">Select a category</option>
                    {% for category, room_names in titles.items() %}
                        <option value="{{ category }}">{{ category }}</option>
                    {% endfor %}
                </select>                
                <br><br>
                <p>Room name:</p>
                <textarea name="room_title" rows="1" cols="1"></textarea>
                <a href="/homepage" class="closePopup">X</a>
                <div class="newroom_button">
                    <button type="submit" class="roombutton">Create</button>
                </div>
            </form>
        </div>
    </div>
    <script>
        var popupButton = document.getElementById("popup-button");
        var myPopup = document.getElementById("mypopup");
        var closePopup = document.querySelector(".closePopup");
    
        popupButton.addEventListener("click", function () {
            myPopup.style.display = "block";
        });
    
        closePopup.addEventListener("click", function () {
            myPopup.style.display = "none";
        });
    
        window.addEventListener("click", function (event) {
            if (event.target == myPopup) {
                myPopup.style.display = "none";
            }
        });
    </script>
    <hr>
    <ul>
        {% for category, room_names in titles.items() %}
            <li>{{ category }}</li>
            <ul>
                {% for room_id, room_name in room_names %}
                <li><a href="/rooms/{{ room_id }}">{{ room_name }}</a></li>
                {% endfor %}
            </ul>
        {% endfor %}
    </ul>

</body>
</html>