<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename="landing.css")}}"/>
     
</head>
<body>
    <title>TeckTalk</title>   
    <h1>Welcome to TechTalk a home for HY CS faculty members</h1>
    <h2>Liity mukaan ja yhdisty käpistelijöiden maailmaan</h2>
    <div class="container">
        <p class ="login-txt">Kirjaudu sisään tai luo uusi käyttäjä</p>
        <div class="button-container">
        <a href="/sign_in" class="button">KIRJAUDU SISÄÄN</a>
        <a href="/create_account" class="button">LUO UUSI KÄYTTÄJÄ</a> 
        </div>
    </div>
</body>
</html>