<!DOCTYPE html>
<head>
    <!--link rel="stylesheet" href="/home/csimona/Documents/TKT/Tietokannat ja webohjelmointi/sovellus/static/log_in.css"/-->
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename="log_in.css")}}"/>
</head>
<body>
    <title>Login</title>   
    <header>
        <a href="/" class="logo">TechTalk</a>
    </header>
    <h1>Login to your account</h1>
    {% if not account_check %}
    <p class="error">Wrong username or password. Please try again</p>
    {% endif %}
    <form action="/login" method="POST">
        <p>Username: </p>
        <input type="text" name="username" placeholder=" Enter username">
        <p>Password: </p>
        <input type="password" name="password" placeholder=" Enter password">
        <div class="button-container">
            <button type="submit" class="button">Login</button>
        </div>
    </form>
</body>
</html>