<!DOCTYPE html>
<head>
    <!--link rel="stylesheet" href="/home/csimona/Documents/TKT/Tietokannat ja webohjelmointi/sovellus/static/chatroom.css"/-->
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename="chatroom.css")}}"/>
</head>
<body>
    <title>Rooms</title>
    <header>
        <a href="/home_page" class="logo">TechTalk</a>
        <input id="searchbar" type="text" placeholder="Search topics and chats..">
        <div class="button-container">
            <a href="/logout" class="logoff">Log off</a>
        </div>
    </header>
    <h1>Hello, {{name}}!</h1>
    <h2> {{room_name}} <button id="popup-button" class="popup-button">+ new chat</button></h2>
    <div id="mypopup" class="popup">
        <div class="popup-content">
            <form action="/rooms/{{ room_id }}" method="POST">
                <p id="popuptitle">Create a new chat</p>
                <p>Title: </p>
                <textarea name="chat_title" rows="1" cols="40"></textarea>
                <p>Content:</p>
                <textarea name="message" rows="10" cols="40"></textarea>
                <a href="#" class="closePopup">X</a>
                <div class="newchat_button">
                    <button type="submit" class="chatbutton">Create</button>
                </div>
            </form>
        </div>
    </div>
    <script>
        var popupButton = document.getElementById("popup-button");
        var myPopup = document.getElementById("mypopup");
        var closePopup = document.querySelector(".closePopup");
    
        popupButton.addEventListener("click", function () {
            myPopup.style.display = "block";
        });
    
        closePopup.addEventListener("click", function () {
            myPopup.style.display = "none";
        });
    
        window.addEventListener("click", function (event) {
            if (event.target == myPopup) {
                myPopup.style.display = "none";
            }
        });
    </script>
    <hr>
    <h3>CHATS</h3>
    <ul>
        <li>
            <div class="chat_titles">
                <a href="/chat/{{ chat_id }}">{{ chat_name }}</a>
                <p class="message-count">{{ count[0] }} message(s) in this chat</p>
            </div>
        </li>
    </ul>
    
</body>
</html>
